
HTML, BODY
  min-height: 100vh
  height: 100%
  cursor: default

BODY
  font-family: 'Roboto', 'sans-serif'
  font-size: 14px
  line-height: 1.5
  min-height: 100vh
  overflow-x: hidden
  scroll-behavior: smooth
  text-rendering: optimizeSpeed
  margin: 0
  position: relative

*:hover,
*:focus,
*:active
  outline: none!important

*,
*:before,
*:after
  box-sizing: border-box
  transition: all 0.2s ease

img
  max-width: 100%
  height: auto
  display: block
  margin: auto

a,
a:hover
  text-decoration: none
  color: inherit
  transition: all 0.2s ease

a:not[class]
  text-decoration-skip-ink: auto

h1, h2, h3, h4, h5
  font-family: inherit

textarea
  resize: none
  width: 100%
  background: none
  border: none

button
  padding: 0
  background: none
  border: none
  transition: all 0.2s ease

input
  background: none
  border: none

  &[type="file"]
    cursor: pointer

  //стили для автозаполнения полей формы
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus input:-webkit-autofill
    -webkit-box-shadow: 0 0 0px 1000px transparent inset
    transition: background-color 5000s ease-in-out 0s
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%)
    color: #fff !important
  //&:-internal-autofill-selected
  &:-webkit-autofill
    -webkit-text-fill-color: inherit
    // цвет текста
    color: inherit
  // \\стили для автозаполнения полей формы

ul:not([class]),
ul ul:not([class]),
ol ul:not([class])
  list-style-type: none

  & > li
    padding-left: 15px
    margin-bottom: 10px
    position: relative

    &:before
      content: ''
      height: 4px
      width: 4px
      border-radius: 50%
      background: black
      position: absolute
      left: 0
      top: 11px

ul [class],
ol[class]
  list-style-type: none
  padding: 0
  margin: 0

[data-map]
  position: relative
  min-height: 350px

  &::before
    position: absolute
    top: 50%
    left: 50%
    content: 'КАРТА'
    font-weight: 600
    font-size: 96px
    color: #FFF
    text-shadow: 0 0 2px #F0F0F0
    transform: translate(-50%,-50%)
    z-index: 0

  & ymaps:not([class$='balloon__tail'])
    z-index: 1

.table-wrap
  overflow-x: auto

.min-height_vh
  min-height: 100vh

.wrapper
  flex-grow: 1

.btn


.link_absolute
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 3

.block
  padding-top: 80px
  padding-bottom: 110px

  &__header
    font-size: 26px
    text-align: center
    margin-bottom: 40px

  &__content

    img:not([class])
      margin: 15px
      max-width: calc(100% - 30px)

.link-more
  position: relative
  color: #A5A5A5
  border: 1px solid #C4C4C4
  border-radius: 50px
  padding: 15px 70px

  &:after
    content: ''
    height: 7px
    width: 7px
    border-top: 1px solid #A5A5A5
    border-right: 1px solid #A5A5A5
    transform: rotate(45deg)
    position: absolute
    right: 55px
    top: calc(50% - 4px)

  &:hover
    background: linear-gradient(101.92deg, #F16C07 5.88%, #FD8700 95.53%)
    box-shadow: 0px 4px 7px rgba(252, 182, 1, 0.33)
    color: #fff!important
    border-color: rgba(255, 255, 255, 0)!important

    &:after
      border-color: #fff!important

.breadcrumb
  padding-left: 0
  padding-top: 15px
  margin-bottom: 0
  color: #828282
  font-family: 'Open Sans'
  font-size: 13px

  &-item
    display: inline-block
    margin-right: 10px!important
    position: relative

    &:not(:first-child)
      padding-left: 10px

      &:before
        content: ''
        height: 2px
        width: 2px
        border-radius: 50%
        background: #817E7E
        position: absolute
        bottom: 9px
        left: -1px

    &.active
      color: rgba(149, 138, 150, 0.5)

.pagination
  display: flex
  justify-content: center
  padding-top: 30px
  padding-left: 0
  margin-bottom: auto
  line-height: 1

  .page-link
    border-radius: 50%
    line-height: 32px
    width: 32px
    text-align: center
    color: #464646
    display: inline-block

  .page-item
    position: relative
    border-radius: 50%

    &.active
      background: linear-gradient(180deg, #F2B75B 0%, #F19252 99.99%, rgba(196, 196, 196, 0) 100%)
      box-shadow: 0px 2px 4px rgba(241, 142, 81, 0.4)

      .page-link
        color: #fff

    &_prev,
    &_next
      position: relative
      border: 0.25px solid #DEDEDE
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25)
      margin: 0 8px
      width: 32px

      &:before
        content: ''
        height: 7px
        width: 7px
        border-top: 1px solid #464646
        border-right: 1px solid #464646
        position: absolute
        top: 12px

    &_next:before
        transform: rotate(45deg)
        left: 11px

    &_prev:before
        transform: rotate(225deg)
        left: 13px

    &.disabled:before
      border-color: #b4b4b4

.header
  padding-top: 20px
  position: fixed
  top: 0
  left: 0
  z-index: 100
  width: 100%
  transition: all 0.4s ease

  &.sticking
    background-color: pink
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.17)
    padding-top: 10px

/* footer */

.form

  input[type=file]
    position: absolute
    top: 0
    left: 0
    opacity: 0
    z-index: 4
    height: 1px
    width: 1px

  &__add
    cursor: pointer
    font-size: 12px
    padding-left: 30px
    position: relative

    &:before
      content: '\e900'
      font-family: 'icomoon'
      color: #94B6FF
      font-size: 15px
      position: absolute
      left: 0
      top: -5px

    &.error:before
      color: #a52a2a

  &__input
    border-bottom: 1px solid #fff
    padding: 0 15px 10px
    margin-bottom: 20px
    max-width: 100%
    width: 100%
    color: #fff
    position: relative
    z-index: 7

    &-label
      position: absolute
      top: 0
      left: 22px
      transition: all 0.6s ease

      &.small
        top: -18px
        font-size: 12px
        opacity: 0.5

    &.error
      border-color: #a52a2a
      color: #a52a2a

      & + .form__input-label
        color: #a52a2a
        opacity: 1

  &__label-policy
    position: relative
    padding-left: 30px
    font-size: 12px
    font-weight: 300
    cursor: pointer
    margin-bottom: 15px
    color: #EBEBEB

  &__link-policy
    color: #EBEBEB
    text-decoration: underline

  &__checkbox
    position: absolute
    left: 0
    top: 0
    opacity: 0

  &__checkbox-appearance
    border-radius: 3px
    height: 15px
    width: 15px
    border: 1px solid #EBEBEB
    position: absolute
    left: 0
    top: 0

  &__checkbox:checked + .form__checkbox-appearance
    background: #EBEBEB

  &__checkbox:checked + .form__checkbox-appearance:after
    content: ''
    height: 6px
    width: 9px
    border-left: 2px solid #2e2e2e
    border-bottom: 2px solid #2e2e2e
    transform: rotate(-45deg)
    position: absolute
    top: 2px
    left: 2px

  &__addresses,
  &__phones,
  &__emails
    position: relative
    padding-left: 50px
    font-size: 14px
    color: #EFEFEF

    &:before
      font-family: 'icomoon'
      position: absolute
      top: 0
      left: 0
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.56)
      color: #f2a958

  &__addresses:before
    content: '\e903'
    font-size: 30px

  &__phones:before
    content: '\e905'
    font-size: 29px

  &__address
    text-decoration: underline

  &__emails:before
    content: '\e904'
    font-size: 24px

  &__phone,
  &__email
    color: #EFEFEF
    text-decoration: underline

    &:not(:first-child)
      padding-left: 15px
      position: relative

      &:before
        content: ','
        position: absolute
        left: 3px
        bottom: -2px

.popup
  max-width: 450px
  padding: 50px
  margin: auto
  background: #fff
  position: relative

  &__header
    font-size: 24px
    margin-bottom: 35px
    text-align: center

  .mfp-close
    height: 45px
    width: 45px

    &:before,
    &:after
      content: ''
      height: 2px
      width: 15px
      background: #fff
      position: absolute
      top: 21px
      right: 15px

    &:before
      transform: rotate(45deg)

    &:after
      transform: rotate(-45deg)

  .form__label-policy
    margin-bottom: 20px
