
@font-face
    font-family: 'Open Sans'
    src: local('Open Sans Bold'), local('OpenSans Bold'), url('/assets/fonts/Open_Sans/OpenSans-Bold.woff2') format('woff2'), url('/assets/fonts/Open_Sans/OpenSans-Bold.woff') format('woff'), url('/assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype')
    font-weight: 700
    font-style: normal
    font-display: fallback

@font-face
    font-family: 'Open Sans'
    src: local('Open Sans SemiBold'), local('OpenSans SemiBold'), url('/assets/fonts/Open_Sans/OpenSans-SemiBold.woff2') format('woff2'), url('/assets/fonts/Open_Sans/OpenSans-SemiBold.woff') format('woff'), url('/assets/fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype')
    font-weight: 600
    font-style: normal
    font-display: fallback

@font-face
    font-family: 'Open Sans'
    src: local('Open Sans'), local('OpenSans'), url('/assets/fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'), url('/assets/fonts/Open_Sans/OpenSans-Regular.woff') format('woff'), url('/assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype')
    font-weight: 400
    font-style: normal
    font-display: fallback

@font-face
    font-family: 'Open Sans'
    src: local('Open Sans Light'), local('OpenSans Light'), url('/assets/fonts/Open_Sans/OpenSans-Light.woff2') format('woff2'), url('/assets/fonts/Open_Sans/OpenSans-Light.woff') format('woff'), url('/assets/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype')
    font-weight: 300
    font-style: normal
    font-display: fallback

@font-face
    font-family: 'Open Sans'
    src: local('Open Sans Light Italic'), local('OpenSans Light Italic'), url('/assets/fonts/Open_Sans/OpenSans-LightItalic.woff2') format('woff2'), url('/assets/fonts/Open_Sans/OpenSans-LightItalic.woff') format('woff'), url('/assets/fonts/Open_Sans/OpenSans-LightItalic.ttf') format('truetype')
    font-weight: 300
    font-style: italic
    font-display: fallback

@font-face
    font-family: 'Roboto'
    src: local('Roboto'), local('Roboto'), url('/assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2'), url('/assets/fonts/Roboto/Roboto-Regular.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype')
    font-weight: 400
    font-style: normal
    font-display: fallback

@font-face
    font-family: 'Roboto'
    src: local('Roboto Italic'), local('Roboto Italic'), url('/assets/fonts/Roboto/Roboto-RegularItalic.woff2') format('woff2'), url('/assets/fonts/Roboto/Roboto-RegularItalic.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-RegularItalic.ttf') format('truetype')
    font-weight: 400
    font-style: italic
    font-display: fallback

@font-face
    font-family: 'Roboto'
    src: local('Roboto Light'), local('Roboto Light'), url('/assets/fonts/Roboto/Roboto-Light.woff2') format('woff2'), url('/assets/fonts/Roboto/Roboto-Light.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-Light.ttf') format('truetype')
    font-weight: 300
    font-style: normal
    font-display: fallback

@font-face
    font-family: 'Roboto'
    src: local('Roboto Medium'), local('Roboto Medium'), url('/assets/fonts/Roboto/Roboto-Medium.woff2') format('woff2'), url('/assets/fonts/Roboto/Roboto-Medium.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype')
    font-weight: 500
    font-style: normal
    font-display: fallback

@font-face
    font-family: 'icomoon'
    src: local('icomoon'), local('icomoon'), url('/assets/fonts/icomoon/icomoon.woff2') format('woff2'), url('/assets/fonts/icomoon/icomoon.woff') format('woff'), url('/assets/fonts/icomoon/icomoon.ttf') format('truetype')
    font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering ===========
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-arrow-up:before
  content: "\e901"

.icon-add_file:before
  content: "\e900"

.icon-geo:before
  content: "\e906"

.icon-mail:before
  content: "\e90a"

.icon-mobile:before
  content: "\e90b"
