//@media screen and (max-width: 1199px)
//@media screen and(max-width: 991px)

@media screen and(max-width: 767px)
  [data-map]
    min-height: 300px

  .header

    &__btn-menu
      background: none
      border: none
      height: 100%
      position: relative
      z-index: 111
      width: 100%
      padding: 0

      span
        height: 3px
        width: 23px
        border-radius: 15px
        display: block
        background: #fff
        position: relative
        transform-origin: center
        transition: opacity 0.3s ease, top 0.5s ease, transform 0.7s ease

        &:not(:last-child)
          margin-bottom: 5px

      &.close

        span
          transition: opacity 0.3s ease, top 1s ease, transform 0.5s ease

        span:first-child
          top: 8px
          transform: rotate(45deg)

        span:nth-child(2)
          opacity: 0

        span:last-child
          top: -8px
          transform: rotate(-45deg)
