.news

  &__item
    font-size: 14px
    color: #858585
    position: relative
    margin-bottom: 20px

    &-cover
      box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.22)
      margin-bottom: 20px
      transition: all 0.2s ease

    &-date
      font-size: 12px
      color: #929292
      margin-bottom: 5px

    &-title
      font-weight: 600
      margin-bottom: 5px
      color: #FFF
      transition: all 0.2s ease

    &:hover

      .news__item-cover
        transform: scale(1.03)

      .news__item-title
        color: pink
